/* Estilo da página de registro */
.register-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    padding: 20px;
  }
  
  .register-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    right: 10%;
  }
  
  .register-card h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .register-card p {
    margin-bottom: 20px;
  }
  
  .register-card .form-group {
    margin-bottom: 15px;
  }
  
  .register-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .register-card input[type="email"],
  .register-card input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-card input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .register-card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .btn-submit {
    background-color: #28a745;
    color: white;
  }
  
  .btn-google {
    background-color: #db4437;
    color: white;
    margin-top: 10px;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  
  .btn-google:hover {
    background-color: #c0392b;
  }
  
  .cancel-button {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .cancel-link {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .back-arrow {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  